{% extends 'base.html' %}
{% block content %}


    <!-- Main Content Section -->
    <main class="container my-5">
        <!-- Latest News Section -->
        <section id="latest-news">
            <div class="row">
                <!-- Left Column (Latest News) -->
                <div class="col-md-8">
                    <!-- Latest News Item -->
                    <div class="card mb-4 position-relative">
                        <img src="media/1.jpeg" class="card-img-top" alt="Xəbər Şəkli">
                        <div class="overlay" style="top: 30%;">
                            <h5 class="overlay-title">Ən Son Xəbərin Başlığı</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Bu, ən son xəbərin qısa təsviridir. Xəbərin məzmununa dair ümumi məlumat verir.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla optio maxime iste vero ipsum, nobis deserunt 
                                quisquam asperiores voluptates voluptatibus, assumenda earum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                Nulla optio maxime iste vero ipsum, nobis desunt quisquam asperiores voluptates voluptatibus, assumenda earum. 
                                Laborum quia mollitia, aliquam similique quidem totam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                Nulla optio maxime iste vero ipsum, nobis deserunt quisquam asperiores voluptates voluptatibus, assumenda earum. 
                                Rerum reprehenderit, eos iste voluptate adipisci sit explicabo aliquam nesciunt! Tempora possimus necessitatibus quis 
                                labore dolorum aut id eius repellat, pariatur dolor illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum 
                                voluptatibus, nesciunt nihil nam veniam voluptas aliquid, fugiat ex impedit possimus quae inventore nobis earum. Iusto maiores aspernatur vitae nihil sapiente modi!
                            </p>
                            <p>Bəli, hazır pluginlərlə də Moodle LMS-də xüsusi istifadəçi sahələrini (user custom fields) Quiz nəticələri və digər hesabatlara əlavə etmək mümkündür. Bu, daha sürətli və az texniki bilik tələb edən bir həll yolu təklif edir.
                                Məqsədinizə uyğun ola biləcək bir neçə plugin:
                                
                                1. "Configurable Reports" (https://moodle.org/plugins/block_configurable_reports)
                                   - Çox funksiyalı hesabat yaratma aləti
                                   - Xüsusi SQL sorğuları ilə istənilən məlumatı çıxarmaq imkanı
                                   - İstifadəçi xüsusi sahələrini hesabatlara daxil etmək mümkündür
                                
                                2. "Custom Certificate" (https://moodle.org/plugins/mod_customcert)
                                   - Sertifikatlar yaratmaq üçün istifadə olunur
                                   - Quiz nəticələri ilə birlikdə xüsusi istifadəçi sahələrini də daxil etmək olar
                                
                                3. "Intelliboard" (https://moodle.org/plugins/local_intelliboard)
                                   - Geniş analitika və hesabat imkanları təqdim edir
                                   - İstifadəçi xüsusi sahələrini müxtəlif hesabatlara inteqrasiya edə bilir
                                
                                4. "Course Report" (https://moodle.org/plugins/report_courseoverview)
                                   - Kurs səviyyəsində hesabatlar yaradır
                                   - Xüsusi istifadəçi sahələrini hesabatlara əlavə etmək imkanı verir
                                
                                Bu pluginləri istifadə etmək üçün ümumi addımlar:
                                
                                1. Moodle saytınızın "Site administration > Plugins > Install plugins" bölməsindən plugini yükləyin və quraşdırın.
                                2. Pluginin tənzimləmələr bölməsində xüsusi istifadəçi sahələrini seçin.
                                3. Hesabat yaradarkən və ya mövcud hesabatları redaktə edərkən, xüsusi sahələri əlavə edin.
                                4. Dəyişiklikləri yadda saxlayın və hesabatları yoxlayın.
                                
                                Hər bir plugin fərqli konfiqurasiya tələb edə bilər, ona görə seçdiyiniz pluginin rəsmi sənədləşməsini diqqətlə oxumağınızı tövsiyə edirəm.
                                
                                Əgər bu pluginlərdən hər hansı biri haqqında daha ətraflı məlumat lazımdırsa və ya quraşdırma prosesində kömək lazım olarsa, xahiş edirəm, mənə bildirin.</p>
                            <p class="card-text"><small class="text-muted">1 gün əvvəl</small></p>
                        </div>
                    </div>
                </div>
    
                <!-- Right Column (Previous News) -->
                <div class="col-md-4">
                    <div class="card mb-3 position-relative">
                        <img src="media/2.png" class="card-img-top" alt="Xəbər Şəkli">
                        <div class="overlay">
                            <h6 class="overlay-title">Əvvəlki Xəbərin Başlığı</h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">3 gün əvvəl</small></p>
                        </div>
                    </div>
                    <div class="card mb-3 position-relative">
                        <img src="media/1.jpeg" class="card-img-top" alt="Xəbər Şəkli">
                        <div class="overlay">
                            <h6 class="overlay-title">Başqa Bir Xəbər Başlığı</h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">5 gün əvvəl</small></p>
                        </div>
                    </div>
                    <div class="card mb-3 position-relative">
                        <img src="media/1.jpeg" class="card-img-top" alt="Xəbər Şəkli">
                        <div class="overlay">
                            <h6 class="overlay-title">Başqa Bir Xəbər Başlığı</h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">7 gün əvvəl</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    
    <!-- Partner Companies Section -->
{% endblock %}